<%include partials/header%>

<div class="container" id="landing-container">
    <div class="row" id="landing-header">
        <div class="col" id="landing-text">
            <h1>Yelp Camp</h1>
    
            <p>Find your perfect campsite</p>
            
            <a class="btn btn-primary" href="/campgrounds">View all campgrounds</a>
        </div>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<script>
    var bodyEl = document.querySelector("body");
    bodyEl.classList.add('landing-bg');
</script>

<% include partials/footer %>