<%include partials/header%>


    <div class="row">
        <div class="col">
            <h1>The Landing Page</h1>
    
            <p>Welcome to Yelp Camp</p>
            
            <a href="/campgrounds">View all campgrounds</a>
        </div>
    </div>

<% include partials/footer %>