<% include ../partials/header %>

<div class="container">
    
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-6">
            <h1 class="text-center mb-5">Edit Comment</h1>
            <form action="/campgrounds/<%= campground %>/comments/<%=comment._id%>?_method=PUT" method="POST" class="mb-4">
                <div class="form-group">
                    <label for="commentText">Comment Text:</label><br>
                    <textarea class="form-control" name="comment[text]" id="commentText" cols="50" rows="10"><%=comment.text%></textarea>
                </div>
                
                <button class="btn btn-default btn-block" type="submit" >Submit</button>
            </form>
        
            <a href="/campgrounds">Go back</a>    
        </div>
        
    </div>
    

</div>
<% include ../partials/footer %>