<% include ../partials/heading %>

<div class="container">
    <h1>This is the secret page </h1>
    <a href="/register">Sign Up!</a>
    <a href="/logout">Logout</a>
    <a href="/login">Login</a>
</div>
<% include ../partials/footer %>